<div class="container ">
  <h2 class="test-header">Theming Test</h2>
  <div class="test-body">
    <div class="common">
      <div class="btn-group">
        <app-button (click)="addWMtheme()" class="test-button" routerLink="/themeone" >First Theme Load</app-button>
        <app-button (click)="addQPPtheme()" class="test-button" routerLink="/themetwo">Second Theme Load</app-button>
      </div>
    </div>
    <div class="common outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>